@{
    ViewData["Title"] = "Success";
}

<div class="text-center">

    <h2>
        Lead Created Successfully 🎉
    </h2>

    <p>
        Thank you for your interest.
        Our team will contact you soon.
    </p>

    <a href="/leads/create" class="btn btn-primary">
        Create Another Lead
    </a>

</div>