<div class="text-center mt-5">

    <h2 class="text-success">🎉 Thank you!</h2>

    <p class="mt-3">
        Your request has been successfully submitted.
    </p>

    <p>
        Our team will contact you shortly.
    </p>

    <a class="btn btn-primary mt-4" href="/Lead/Create">
        Submit another request
    </a>

</div>